<div class="jumbotron">
    <h1>SDS-MANAGER: </h1>
    <h1>*****************</h1>
    <h1>UNDER CONSTRUCTION </h1>
    <h1>*****************</h1>
    <p class="lead">SDS-Manager is an app designed to make it easier to manage materials safety at multiple locations.</p>
    <!--<p><a href="https://www.msdsonline.com/msds-search" class="btn btn-primary btn-lg">Search</a></p>-->
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Find MSDS</h2>
        <p>This link will take you to a site where you can find the MSDS you need.</p>
        <p><a class="btn btn-default" href="https://www.msdsonline.com/msds-search">Search</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>Enter your company locations on this page so that chemical purchases can be tied to locations of delivery.</p>
        <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Import CSV</h2>
        <p>This page is where you can import your CSV of chemical purchases into the application.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
